<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="com.qa.sel.reports.ExtentListener"></listener>
	</listeners>
	<test name="LoginPageTest">
		<classes>
			<class name="com.qa.sel.testCases.LoginPageTest" />
		</classes>
	</test>

	<test name="HomePageTest">
		<classes>
			<class name="com.qa.sel.testCases.HomePageTest" />
		</classes>
	</test>

	<test name="AddCustomerPageTest">
		<classes>
			<class name="com.qa.sel.testCases.AddCustomerPageTest" />
		</classes>
	</test>

	<test name="EditCustomerPageTest">
		<classes>
			<class name="com.qa.sel.testCases.EditCustomerDetailsTest" />
		</classes>
	</test>

</suite> <!-- Suite -->
